<div id="header">
    <link href="/css/header.css" rel="stylesheet" type="text/css" />
    <a id="header-link" href="/">SB Stats</a>
    <div id="header-search">
      <div id="search-type-selector">
        <div id="search-type-selector-selected">User ></div>
        <div class="selector-opt">User</div>
        <div class="selector-opt">Guild</div>
      </div>
      <input id="header-search-text" placeholder="Name" type="text">
      <input id="header-search-button" type="button">
      <span id="header-search-icon">&#9906;</span>
    </div>
    <span id="header-version">v0.1</span>
    <script defer src="/js/header.js"></script>
    <div id="item-hover">
      <div id="item-hover-header"></div>
      <div id="item-hover-lore"></div>
    </div>
</div>