:root {
  --dark-blue: #4f6280;
  --gray: #6e7580;
  --dark-gray: #2b2b2b;
  --white: #ebf3ff;
  --dark-white: #ced6e0;
  --red: #bd4040;
}
body {
  background: var(--dark-gray);
  margin: 0;
  font-family: Quicksand;
}
#search {
  position: absolute;
  top: 40vh;
  left: 30vw;
  width: 40vw;
  height: auto;
  background: rgba(0,0,0,0.2);
  border-radius: 1vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#search > * {
  margin: 1vw;
}
#search-label {
  width: inherit;
  height: auto;
  color: var(--white);
  text-align: center;
  font-size: 4vh;
  line-height: 5vh;
}
#search-text {
  width: inherit;
  height: auto;
  background: none;
  border: none;
  font-size: 3.5vh;
  line-height: 4vh;
  text-align: center;
  color: var(--white);
}
#search-text::placeholder {
  color: var(--dark-white);
}
#search-button {
  width: 10vw;
  height: 4vh;
  font-size: 2vh;
  line-height: 4vh;
  text-align: center;
  color: var(--white);
  border-radius: 0.5vw;
  background: var(--dark-blue);
  border: 0.1vw solid var(--dark-gray);
}
#err-msg {
  position: absolute;
  left: 30vw;
  top: 35vh;
  height: 5vh;
  line-height: 5vh;
  width: 40vw;
  text-align: center;
  font-size: 4vh;
  color: var(--red)
}