:root {
  --dark-blue: #4f6280;
  --gray: #42464d;
  --dark-gray: #2b2b2b;
  --white: #ebf3ff;
  --dark-white: #ced6e0;
  --blue: #4071bd;
  --darkish-blue: #4e5969;
  --red: #bd4040;
  --yellow: #bdb540;
  --green: #59bd40;
  --cyan: #40bdb7;
  --purple: #b740bd;
  --pink: #ba569e;
}
/* loading */
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  --s: 15vw;
  top: calc((100vh - var(--s)) / 2);
  left: calc((100vw - var(--s)) / 2);
  width: var(--s);
  height: var(--s);
}
.lds-ellipsis div {
  position: absolute;
  top: 6.1875vw;
  width: 2.4375vw;
  height: 2.4375vw;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 1.5vw;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 1.5vw;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 6vw;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 10.5vw;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(4.5vw, 0);
  }
}
/* end loading */
body {
  background: var(--dark-gray);
  font-family: Quicksand;
  color: var(--white);
  margin: 3vw;
  margin-top: max(3vw,6vh);
}
#content {
  --width: 94vw;
  flex-wrap: wrap;
}
.section {
  margin-top: 1vw;
  padding: 1vw;
  padding-top: 3.6vw;
  background: var(--gray);
  border-radius: 0.5vw;
  position: relative;
}
.section-label {
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 1.5vw;
  padding: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 2vw;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark-blue);
  color: var(--white)
}
.section-label.full {
  border-bottom-right-radius: 0;
  border-top-right-radius: inherit;
  width: 100%;
  padding: 0;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  text-align: center;
}
#stats {
  height: auto;
  width: 100%;
}
#stats-text {
  font-size: 1.2vw;
  width: 100%;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-wrap: warp;
  justify-content: space-around;
}
#skills {
  display: flex;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
#skills > span {
  width: 100%;
  text-align: center;
}
#skills .skill {
  width: 44vw;
  min-width: 500px;
  height: 3vw;
  border-radius: 0.5vw;
  background: var(--darkish-blue);
  position: relative;
  font-size: 1vw;
  margin: 0.25vw;
}
#skills .skill .skillName {
  position: absolute;
  left: 2.5%;
  top: 0;
}
#skills .skill .skillLevel {
  position: absolute;
  right: 2.5%;
  top: 0; 
}
#skills .skill .bar {
  position: absolute;
    left: 2.5%;
    bottom: 0.5vw;
    width: 95%;
    height: 1vw;
    background: var(--dark-gray);
    border-radius: 0.5vw;
}
#skills .skill .bar .skillBarFill {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue);
  height: 100%;
  border-radius: inherit
}
#skills .skill .bar .skillBarText {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
#armor {
  height: calc(( var(--width) * 0.1 - 3vw) * 4.2 + 2vw);
  width: calc( var(--width) * 0.1 - 3vw);
  margin-right: 1vw;
}
#wardrobe {
  height: calc(( var(--width) * 0.1 - 3vw) * 4.2 + 2vw);
  flex-grow: 1;
  display: flex;
}
#wardrobe .inv-view {
  width: 0;
  flex-grow: 1;
  overflow-x: scroll;
  overflow-y: hidden;
}
#wardrobe .inv-view::-webkit-scrollbar {
  opacity: 0;
  height: 1vw;
}
#wardrobe .inv-view::-webkit-scrollbar-button {
  display: none;
}
#wardrobe .inv-view::-webkit-scrollbar-thumb {
  border-radius: 0.5vw;
  background: var(--dark-white);
  display: none;
}
#wardrobe .inv-view::-webkit-scrollbar-thumb:hover {
  display: initial;
}
#inventories {
  height: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#inventories #labels {
  display: inline-flex;
  justify-content: center;
  padding: 0.5vw 1vw 0 1vw;
  border-radius: 0.5vw 0.5vw 0 0;
  background: rgba(43,43,43,0.5)
}
#inventories #labels .inv-label {
  background: var(--dark-blue);
  border-radius: 0.5vw 0.5vw 0 0;
  font-family: Quicksand;
  margin-right: 1vw;
  font-size: 1.2vw;
  color: var(--white);
  line-height: 2vw;
  height: 2vw;
  border: none;
}
#inventories #inv-view-container {
  display: inline-flex;
  justify-content: space-around;
  border-radius: 0.5vw;
  padding: 0.5vw 1vw 1vw 1vw;
  background: rgba(43,43,43,0.5)
}
#pets {
  height: auto;
  width: 100%;
}
#slayer {
  height: auto;
  width: 100%;
}









/* inv-view */
.inv-view {
  grid-gap: 1vw;
}
.inv-view .item-cell {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid var(--dark-white);
  background: var(--dark-gray);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inv-view .item-cell .item-count {
  position: absolute;
  right: 0.5vw;
  bottom: 0.5vw;
  font-size: 1.5vw;
  z-index: 1;
}
.inv-view .item-cell .item-icon {
  image-rendering: pixelated;
  width: 80%;
  height: 80%;
}
.inv-view .item-cell .item-head {
  position: relative;
  --size: 2.7vw;
  width: var(--size);
  height: var(--size);
  transform-style: preserve-3d;
  transform: rotateY(45deg) rotateX(-15deg) rotateZ(-15deg)
}
.inv-view .item-cell .item-head > * {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  image-rendering: pixelated;
}
.inv-view .item-cell .item-head .face {
  transform: translateZ(calc((var(--size) / 2)  - 0.5px));
}
.inv-view .item-cell .item-head .back {
  transform: translateZ(calc((var(--size) / -2)  + 0.5px));
}
.inv-view .item-cell .item-head .side {
  transform: rotateY(-90deg) translateZ(calc((var(--size) / 2)  - 0.5px));
}
.inv-view .item-cell .item-head .top {
  transform: rotateX(90deg) translateZ(calc((var(--size) / 2) - 0.5px));
}
/* Item Hover */
#item-hover {
  width: 30vw;
  max-height: 75vh;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--dark-gray);
  color: var(--white);
  z-index: 3;
  border-radius: 1vw;
  font-size: 1.2vw;
  text-align: center;
  transform: translate3d(0,0,0);
}
#item-hover-header {
  background: var(--gray);
  border-radius: 1vw 1vw 0 0;
  font-size: 1.5vw;
  line-height: 2vw;
  height: 2vw;
  overflow-x: auto;
}
#item-hover-lore {
  overflow-y: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
  max-height: calc(75vh - 2vw - 2vw);
}
#item-hover-lore .inv-view {
  grid-gap: 0.5vw;
}
#item-hover-lore .inv-view .item-cell .item-head {
  --size: 1.2vw;
}
#item-hover-lore .inv-view .item-cell .item-count {
  right: 0.1vw;
  bottom: 0.1vw;
  font-size: 0.9vw;
}
#item-hover-lore::-webkit-scrollbar {
  opacity: 0;
  width: 1vw;
}
#item-hover-lore::-webkit-scrollbar-button {
  display: none;
}
#item-hover-lore::-webkit-scrollbar-thumb {
  border-radius: 0.5vw;
  background: var(--gray);
}