:root {
  --dark-blue: #4f6280;
  --gray: #42464d;
  --dark-gray: #2b2b2b;
  --white: #ebf3ff;
  --dark-white: #ced6e0;
  --blue: #4071bd;
  --darkish-blue: #4e5969;
}
/* loading */
.lds-ellipsis {
  display: inline-block;
  position: absolute;
  --s: 15vw;
  top: calc((100vh - var(--s)) / 2);
  left: calc((100vw - var(--s)) / 2);
  width: var(--s);
  height: var(--s);
}
.lds-ellipsis div {
  position: absolute;
  top: 6.1875vw;
  width: 2.4375vw;
  height: 2.4375vw;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 1.5vw;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 1.5vw;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 6vw;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 10.5vw;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(4.5vw, 0);
  }
}
/* end loading */
body {
  background: var(--dark-gray);
  font-family: Quicksand;
  color: var(--white);
  margin: 3vw;
}
#content {
  --width: 94vw;
  flex-wrap: wrap;
}
#intro {
  font-size: 1.5vw;
  background: var(--gray);
  text-align: center;
  border-radius: 0.5vw;
  width: 100%;
}
#stats {
  height: 10vh;
  width: 100%;
}
.section {
  margin-top: 1vw;
  padding: 1vw;
  padding-top: 3vw;
  background: var(--gray);
  border-radius: 0.5vw;
  position: relative;
}
.section-label {
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
  font-size: 1.5vw;
  padding: 0.3vw;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 2vw;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--dark-blue);
  color: var(--white)
}
.section-label.full {
  border-bottom-right-radius: 0;
  border-top-right-radius: inherit;
  width: 100%;
  padding: 0;
  padding-top: 0.3vw;
  padding-bottom: 0.3vw;
  text-align: center;
}
#skills {
  display: flex;
  height: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
#skills .skill {
  width: 44vw;
  min-width: 500px;
  height: 3vw;
  border-radius: 0.5vw;
  background: var(--darkish-blue);
  position: relative;
  font-size: 1vw;
  margin: 0.25vw;
}
#skills .skill .skillName {
  position: absolute;
  left: 2.5%;
  top: 0;
}
#skills .skill .skillLevel {
  position: absolute;
  right: 2.5%;
  top: 0; 
}
#skills .skill .bar {
  position: absolute;
    left: 2.5%;
    bottom: 0.5vw;
    width: 95%;
    height: 1vw;
    background: var(--dark-gray);
    border-radius: 0.5vw;
}
#skills .skill .bar .skillBarFill {
  position: absolute;
  left: 0;
  top: 0;
  background: var(--blue);
  height: 100%;
  border-radius: inherit
}
#skills .skill .bar .skillBarText {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}
#armor {
  float: left;
  height: calc(( var(--width) * 0.1 - 3vw) * 4.2);
  width: calc( var(--width) * 0.1 - 3vw);
  margin-right: 1vw;
}
#wardrobe {
  float: left;
  height: calc(( var(--width) * 0.1 - 3vw) * 4.2);
  width: calc( var(--width) * 0.9 - 3.5vw);
}
#inventories {
  height: 25vh;
  width: 100%;
}
#pets {
  height: 25vh;
  width: 100%;
}